.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px;
}

.form-container {
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0 auto; /* Add this line to center the form */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 0;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

form button:hover {
  background-color: #0056b3;
}

form button:disabled {
  background-color: #007bff;
  opacity: 0.7;
  cursor: not-allowed;
}